form {
  width:300px;
  margin: 20px auto;
}

progress {
  font-size:20px;
  width:300px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;
}

input {
  border:1px solid #ccc;
  font-size:20px;
  width:300px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

